/* Reset */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

:root {
    --link-color: #44aaff;
    --text-color: #e6e3e3;
    --bg-color: #150f0e;
    --src-bg-color: #1d1f21;
    --src-fg-color: #c5c8c6;
}

body {
    font-family: monospace;
    line-height: 1.60;
    letter-spacing: -0.01em;
    text-rendering: optimizeLegibility;
    font-size: 1.0rem;
    margin: 0px auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: var(--bg-color);
    color: var(--text-color);
    width: 800px;
}

a {
    color: var(--link-color);
}

.arena {
    background-color: grey;
    min-height: 300px;
    width: 48%;
    display: inline-block;
    position: relative;
}

.draggable-box {
    width: 200px;
    height: 100px;
    border: 1px solid red;
    background-color: darkblue;
    margin: 5px;
    position: absolute;
    display: flex;
    align-items: center;

    .connector {
        border: 4px dotted green;
        background-color: blue;
    }

    .active {
        border: 4px dotted red;
    }

    .connected {
        background-color: orange;
    }

    .label {
        width: 100%;
    }

    span {
        text-align: center;
        margin: 2px;
    }
}
